$primary-normal: #f7fbff;
$primary-dark: #e0e7ef;
$primary-light: #ffffff;

$secondary-normal: #f4f7fa;
$secondary-dark: #dce1e6;
$secondary-light: #ffffff;

$blue-gray-normal: #d8e4ea;
$blue-gray-dark: #c2d1d9;
$blue-gray-light: #eaf2f6;

$white-normal: #ffffff;
$white-dark: #fcfcfc;
$white-light: #ffffff;

$peach-normal: #ffe8e0;
$peach-dark: #fdd8cc;
$peach-light: #fff2ec;

$gray-normal: #e2e2e2;
$gray-dark: #cfcfcf;
$gray-light: #f4f4f4;

$black: #000000;

$red-dark: rgb(128, 26, 26)
